/* How to use */
/*
.some-div{
  @include small-screen{
    width: 100%;
  }
}
*/
/* Screen Sizes */
/** Fonts **/
@font-face {
  font-family: "NunitoLight";
  src: url("../../fonts/Nunito-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NunitoRegular";
  src: url("../../fonts/Nunito-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NunitoMeduim";
  src: url("../../fonts/Nunito-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NunitoSemiBold";
  src: url("../../fonts/Nunito-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanitoBold";
  src: url("../../fonts/Nunito-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "RedditSansCondensedLight";
  src: url("../../fonts/RedditSansCondensed-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "RedditSansCondensedBold";
  src: url("../../fonts/RedditSansCondensed-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "RedditSansCondensedmeduim";
  src: url("../../fonts/RedditSansCondensed-Medium.ttf") format("truetype");
  font-display: swap;
}
/* Project Fonts */
/** Font Size **/
body {
  font-size: 1rem;
  overflow-x: hidden;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.margin-bottom-xxl {
  margin-bottom: 15rem;
}

@media only screen and (max-width: 1200px) {
  .margin-bottom-xxl {
    margin-bottom: 8rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background-color: #f4f4f4 !important;
}

.tayeb-container {
  background-color: #ffffff;
}

header {
  background-color: #fff2da;
  font-family: "RedditSansCondensedBold", sans-serif;
}

.navbar {
  padding: 1.25rem 0 !important;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 154px !important;
  width: 100%;
  gap: 0;
}
.navbar-container .navbar-collapse {
  justify-content: end;
}

.logo-container {
  padding-right: 290px;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 !important;
  padding: 0;
  gap: 2rem;
}
.navbar-nav .nav-link {
  padding: 0 !important;
}

header a {
  font-family: "RedditSansCondensedBold", sans-serif;
  font-size: 16px !important;
  font-weight: 800 !important;
  line-height: 20.78px;
  color: #26403e !important;
  white-space: nowrap;
}

.navbar-icons {
  padding-left: 50px;
  /* Adjusts the space between the last nav item and the icons */
}

.hero {
  background: url("../images/mainCover.svg") no-repeat center top;
  /* object-position: bottom !important; */
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 17%;
  height: 540px;
  max-height: 540px;
}

.hero h1 {
  font-family: "NunitoMeduim", sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
}

.product-image {
  width: 60%;
}

.farm-img {
  margin-right: 64px;
}

.farm-text h2 {
  font-family: "NunitoMeduim", sans-serif;
  font-size: 32px !important;
  font-weight: 800;
  line-height: 43.65px;
  text-align: left;
  white-space: nowrap;
  margin-top: 20px;
  color: #26403e;
}

.farm-text p {
  font-family: "NunitoMeduim", sans-serif;
  font-size: 20px !important;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  color: #26403e;
  margin-top: 24px;
}

.farm-text span {
  color: #26403e;
  font-family: "NunitoMeduim", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
}

.farm-text button {
  width: 356px;
  height: 68px;
  gap: 0px;
  opacity: 0px;
  font-family: "NunitoMeduim", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 17.82px;
  letter-spacing: 0.05em;
  text-align: center;
  color: white;
  background-color: #bd202f;
  border-color: #bd202f;
  margin-top: 6%;
  border: none;
}

.way-section {
  margin-top: 17%;
}

.halal-nuggets {
  margin-top: -20%;
}

.tayeb-way h4 {
  font-family: "NunitoMeduim", sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 81.84px;
  text-align: center;
  color: #26403e;
  white-space: nowrap;
}

.tayeb-way p {
  width: 550px !important;
  font-family: "NunitoMeduim", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #26403e;
}

.tayeb-way span {
  font-family: "NunitoMeduim", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #26403e;
}

.learn-more {
  font-family: "NunitoMeduim", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #bd202f;
}

.icon {
  width: 150px;
  height: 150px;
  background-color: #fff2da;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 48px;
}

.tayeb-difference {
  margin-top: 144px;
  padding: 0 154px;
}
.tayeb-difference .tayeb-flex {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.tayeb-difference h2 {
  font-family: "NunitoMeduim", sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 81.84px;
  text-align: center;
  margin-bottom: 53px;
}

.tayeb-difference h4 {
  font-family: "NunitoMeduim", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 32.74px;
  text-align: center;
  color: #26403e;
  white-space: nowrap;
}

.tayeb-difference p {
  margin-bottom: 0;
  font-family: "NunitoMeduim", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  color: #26403e;
  margin-bottom: 15px;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.feature-item {
  flex: 1;
  padding: 20px;
}

.nationwide {
  /* background: url("../images/USA\ map\ outline.svg") no-repeat center center;
  background-size: cover;
  position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d2e7e2;
  text-align: center;
  margin-top: 330px;
  z-index: 1;
  height: 975px;
}

.cutting {
  /* position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3; */
  top: -2%;
}

.nationwide h2 {
  /* margin-top: -250px; */
  font-family: "NunitoMeduim", sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 81.84px;
  color: #26403e;
  text-align: center;
  margin-top: 80px !important;
}

.nationwide p {
  color: #26403e;
  font-family: "NunitoMeduim", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: center;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-wrap: wrap;
}

.partners img {
  max-width: 100%;
  height: auto;
}

.partner-btn button {
  font-family: "NunitoMeduim", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 21.82px;
  letter-spacing: 0.05em;
  text-align: center;
  color: white;
  width: 356px;
  height: 68px;
  margin-top: 70px;
  background-color: #26403e;
  margin-bottom: 20px;
}

.halal {
  z-index: 1;
  right: 30px;
  top: -150px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #597d77;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 72px 155px 45px 155px;
  gap: 45px;
}
@media screen and (max-width: 991px) {
  footer {
    padding: 72px 47px 45px 47px;
    gap: 45px;
    height: 100% !important;
  }
}

.farm-section {
  padding: 0 250px;
  display: flex;
  gap: 4rem;
}
@media screen and (max-width: 1200px) {
  .farm-section {
    padding: 0 20px;
    flex-direction: column;
    gap: 0;
  }
  .farm-section .farm-img {
    text-align: center;
  }
  .farm-section .farm-text h2 {
    margin-top: 32px !important;
    text-align: start !important;
  }
  .farm-section .farm-text p {
    text-align: start !important;
  }
}
.farm-section .farm-img {
  margin: 0 !important;
}

.social {
  margin-top: 6%;
  /* margin: auto;  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.social img {
  margin: 0 10px;
  /* max-width: 50px; */
}

footer p {
  font-family: Reddit Sans Condensed;
  font-size: 16px;
  font-weight: 800;
  line-height: 20.78px;
  text-align: start;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

footer span {
  color: #ffffff;
  font-family: "NunitoMeduim", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.37px;
  letter-spacing: 0.05em;
  text-align: center;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .footer-list {
    flex-direction: column;
  }
  .footer-list p {
    text-align: center;
  }
  .footer-list .social {
    margin-bottom: 64px;
  }
}

.close-img {
  display: none;
}

@media (min-width: 768px) {
  .space-after-lg {
    display: block;
  }
  .small-space {
    display: none;
  }
  .navbar-icons {
    display: none;
  }
}
@media (min-width: 676px) and (max-width: 768px) {
  header {
    display: block;
    padding-inline: 20px !important;
    height: auto;
  }
  .logo-container {
    padding-right: 20px;
  }
  .navbar-expand-lg {
    flex-wrap: wrap !important;
  }
  .farm-img {
    margin-left: -70px;
    margin-right: 180px;
  }
  .farm-text h2 {
    margin-top: 0px;
    white-space: normal;
  }
  .farm-text p {
    margin-top: 0px;
  }
  .farm-text button {
    width: 256px;
    height: 48px;
  }
  .halal {
    width: 70%;
    right: 20px;
    top: -40px;
  }
  .tayeb-way p {
    margin-left: -80px;
    width: 500px !important;
  }
  .tayeb-way h4 {
    margin-left: -80px;
  }
  .tayeb-difference p {
    width: 100%;
    text-align: left;
  }
  .tayeb-difference h4 {
    white-space: normal;
  }
  .cutting img {
    width: 610px !important;
    height: 375px !important;
  }
  .partners img {
    width: 30% !important;
  }
  .map {
    display: none !important;
  }
  .image-container img {
    margin: 10px 0;
    width: calc(33% - 10px);
    display: none !important;
  }
  .image-container img:nth-child(3),
  .image-container img:nth-child(2),
  .image-container img:nth-child(4) {
    display: block !important;
  }
  footer p {
    white-space: nowrap;
  }
  .social {
    white-space: nowrap;
  }
  .nav-item {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  html,
  body {
    overflow-x: hidden;
  }
  header {
    height: auto;
    z-index: 10 !important;
    padding-inline: 10px !important;
    display: block;
  }
  header a {
    font-family: Reddit Sans Condensed !important;
    font-size: 28px !important;
    font-weight: 800 !important;
    line-height: 36.37px !important;
    text-align: center !important;
  }
  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  .nav-item {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
  .logo-container {
    padding-right: 10px;
  }
  .navbar-container img {
    height: auto;
  }
  .navbar-icons {
    display: flex;
    margin-top: 80px;
    margin-bottom: 200px;
    gap: 30px;
  }
  .navbar-icons img {
    max-width: 30px;
  }
  .hero {
    background: url("../images/hero-mobile.svg") center top;
    background-size: cover;
    overlay: 10;
    color: white;
    margin-bottom: 20%;
  }
  .hero h1 {
    font-size: 36px !important;
    line-height: 40px !important;
  }
  .product-image {
    width: 100%;
    margin-top: -6%;
  }
  .farm-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10% !important;
    margin-right: 64px;
  }
  .farm-image {
    width: 80%;
    height: 80%;
  }
  .farm-text h2 {
    font-size: 24px !important;
    line-height: 32.74px !important;
    text-align: center;
    margin-top: -19%;
  }
  .farm-text p {
    font-family: "NunitoMeduim", sans-serif;
    font-size: 16px !important;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    color: #26403e;
    width: 100%;
  }
  .farm-text span {
    color: #26403e;
    font-family: "NunitoMeduim", sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
  }
  .farm-text button {
    font-family: "NunitoMeduim", sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 19.1px;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    background-color: #bd202f;
    border-color: #bd202f;
    margin: auto;
    margin: 0;
  }
  .naget {
    margin-top: 0%;
    height: 200px;
    margin-left: -30%;
  }
  .tayeb-way h4 {
    font-family: "NunitoMeduim", sans-serif;
    font-size: 36px !important;
    line-height: 49.1px !important;
    text-align: center;
    color: #26403e;
  }
  .tayeb-way p {
    /* width: 5950 !important; */
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-left: 4%;
  }
  .tayeb-way span {
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
  .halal-nuggets {
    margin-top: -32%;
  }
  .halal {
    left: 50%;
    top: 58%;
    transform: translate(-50%);
    width: 100%;
  }
  .nationwide {
    margin-top: 120px;
    height: auto;
  }
  .cutting {
    /* position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -122px;
    z-index: 3; */
    top: -0.5%;
  }
  .cutting img {
    /* width: 210px !important; 
    height: 775px !important; */
    width: 410px !important;
    height: 375px !important;
  }
  .nationwide h2 {
    font-family: "NunitoMeduim", sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 57.29px;
    text-align: center;
    margin-top: 180px !important;
  }
  .nationwide p {
    font-family: "NunitoMeduim", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 31px;
    width: 100%;
  }
  .partners {
    flex-direction: column;
    gap: 64px;
  }
  .partners img {
    width: 50%;
  }
  .partner-btn button {
    font-family: "NunitoMeduim", sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 19.1px;
    letter-spacing: 0.05em;
    text-align: center;
    width: 353px;
    height: 68px;
    gap: 0px;
    opacity: 0px;
    margin-bottom: 57px;
  }
  .map {
    display: none;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 20px;
  }
  .image-container img {
    margin: 10px 0;
    width: calc(100% - 40px);
    display: none !important;
  }
  .image-container img:nth-child(3) {
    display: block !important;
  }
  /* .tayeb-difference {
    margin-top: -70px;
  } */
  .tayeb-difference h2 {
    font-size: 42px;
    line-height: 57.29px;
  }
  .tayeb-difference h4 {
    font-size: 20px;
    font-weight: 800;
    line-height: 27.28px;
  }
  .tayeb-difference p {
    font-family: "NunitoMeduim", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin: auto;
    padding-bottom: 64px;
  }
  /* footer .row{
    margin-top: -10px !important;
  } */
  footer {
    height: 738px;
  }
  footer p {
    font-family: Reddit Sans Condensed;
    font-size: 16px;
    font-weight: 800;
    line-height: 20.78px;
    text-align: center;
    margin-bottom: 24px;
  }
  .social {
    margin-top: 48px !important;
    margin-bottom: 64px !important;
  }
  footer span {
    font-family: "NunitoMeduim", sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 13.64px;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 35px;
  }
  .story {
    margin-left: 0% !important;
  }
  .footer-logo {
    margin-left: 0% !important;
  }
  /* .title {
    font-family: $font-light-nanito;
    font-size: 24px !important;
    line-height: 30px !important;
    text-align: center;
    color: #ffffff;
    top: 30%;
    white-space: nowrap;
  } */
}
@media (min-width: 769px) and (max-width: 1100px) {
  .tayeb-difference p {
    width: 100%;
    text-align: left;
    white-space: normal;
    /* padding-left: 10%; */
  }
  .tayeb-difference h4 {
    /* white-space: normal; */
    width: 100%;
  }
  header {
    padding-inline: 10px !important;
  }
  .logo-container {
    padding-right: 50px;
  }
  .navbar-expand-lg {
    flex-wrap: wrap !important;
  }
  .farm-img {
    margin-left: -60px;
    margin-right: 100px;
  }
  .farm-text h2 {
    margin-top: 10px;
  }
  .farm-text p {
    margin-top: 0px;
  }
  .tayeb-way p {
    margin-left: -70px;
    width: 530px !important;
  }
  .map {
    display: none !important;
  }
  .image-container img {
    margin: 10px 0;
    width: calc(33% - 10px);
    display: none !important;
  }
  .image-container img:nth-child(3),
  .image-container img:nth-child(2),
  .image-container img:nth-child(4) {
    display: block !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  .navbar-nav {
    margin-top: 72px !important;
  }
  .navbar-toggler[aria-expanded=true] .close-img {
    display: inline-block;
  }
  .navbar-toggler[aria-expanded=true] .toggle-img {
    display: none;
  }
  .nav-item {
    padding: 0 !important;
    margin: 0 !important;
  }
  .navbar-toggler[aria-expanded=false] .close-img {
    display: none;
  }
  .navbar-toggler[aria-expanded=false] .toggle-img {
    display: inline-block;
  }
  .navbar-container {
    padding: 0 50px !important;
  }
  .tayeb-difference {
    padding: 0 50px;
  }
  .tayeb-difference .tayeb-flex {
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .navbar-icons {
    display: flex;
    margin-top: 80px;
    margin-bottom: 200px;
    gap: 30px;
    text-align: center;
    justify-content: center;
    padding-inline: 0;
  }
}
@media (max-width: 768px) {
  .navbar-container {
    padding: 0 20px !important;
  }
  button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }
  header {
    padding: 0 !important;
  }
  .navbar-toggler {
    padding: 0;
  }
  .nationwide .container-fluid {
    padding: 0 20px !important;
  }
  .tayeb-container {
    padding: 0;
  }
  .space-after-lg {
    display: none;
  }
  .small-space {
    display: block;
  }
}
@media (max-width: 480px) {
  .tayeb-container {
    padding: 0;
  }
}
.wrapper {
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */