/** Fonts **/
@font-face {
    font-family: "NunitoLight";
    src: url("../../fonts/Nunito-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "NunitoRegular";
    src: url("../../fonts/Nunito-Regular.ttf") format("truetype");
    font-display: swap;
}


@font-face {
    font-family: "NunitoMeduim";
    src: url("../../fonts/Nunito-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "NunitoSemiBold";
    src: url("../../fonts/Nunito-SemiBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "NanitoBold";
    src: url("../../fonts/Nunito-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "RedditSansCondensedLight";
    src: url("../../fonts/RedditSansCondensed-Light.ttf") format("truetype");
    font-display: swap;
}


@font-face {
    font-family: "RedditSansCondensedBold";
    src: url("../../fonts/RedditSansCondensed-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "RedditSansCondensedmeduim";
    src: url("../../fonts/RedditSansCondensed-Medium.ttf") format("truetype");
    font-display: swap;
}


/* Project Fonts */
$font-light-nanito: "NunitoMeduim", sans-serif;
$font-regular-nanito: "NunitoLight", sans-serif;
$font-medium-nanito: "NunitoRegular", sans-serif;
$font-bold-nanito: "NunitoBold", sans-serif;

$font-light-reddit: "RedditSansCondensedLight", sans-serif;
$font-medium-reddit: "RedditSansCondensedmeduim", sans-serif;
$font-bold-reddit: "RedditSansCondensedBold", sans-serif;

/** Font Size **/
$font-100: 6.25rem;
$font-60: 3.75rem;
$font-48: 3rem;
$font-32: 2rem;
$font-30: 1.875rem;
$font-28: 1.75rem;
$font-26: 1.625rem;
$font-24: 1.5rem;
$font-22: 1.375rem;
$font-20: 1.25rem;
$font-18: 1.125rem;
$font-16: 1rem;
$font-14: 0.875rem;
$font-12: 0.75rem;
$font-10: 0.625;